/***** BASE *****/


/* -- Page SECTIONS --*/

.title {
    color: var(--color-darkblue);
    font-family: var(--font-cursive);
}

.profile {
    background: var(--color-lightgray);
    box-shadow: 0 0 1.5rem rgba(30,30,30,0.25);
}

.about {}

.portfolio {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    flex-wrap: nowrap;
}


@media screen and (min-width:$width-medium) {
    .profile{
    box-shadow: 0 0 3rem rgba(30,30,30,0.5);
    }
    .portfolio {
        -webkit-perspective: calc(var(--width-small) * 2);
        perspective: calc(var(--width-small) * 2);
    }
}