/***** BASE *****/


/* -- Page SECTIONS --*/

.title {
    color: var(--color-darkblue);
    font-family: var(--font-cursive);
}

.profile {
    background: var(--color-lightgray);
    box-shadow: 0 0 1.5rem rgba(30, 30, 30, 0.25);
    width: calc(100% + 1em);
}

.about {
    padding-top: 2rem;
    text-align: center;
}

.portfolio {
    width: 100%;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}


@media screen and (min-width:$width-medium) {
    .profile {
        box-shadow: 0 0 3rem rgba(30, 30, 30, 0.5);
    }
    .portfolio {
        padding: 1em;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
    }
}