/***** BASE *****/


/* -- Page SECTIONS --*/

.title {
    color: var(--color-darkblue);
    font-family: var(--font-cursive);
}

.profile {
    background: var(--color-lightgray);
    box-shadow: 0 0 1.5rem rgba(30, 30, 30, 0.25);
    width: 100%;
}

@media screen and (min-width:$width-medium) {
    .profile {
        box-shadow: 0 0 3rem rgba(30, 30, 30, 0.5);
    }
}

.about {
    padding-top: 2rem;
    text-align: center;
}

.portfolio {
    padding-top: 2rem;
    text-align: center;
}