/***** COMPONENTS-ABOUT *****/


/*-- ABOUT --*/


/*-- portfolio --*/

.portfolio__title {
    width: 100%;
    max-width: $width-wide;
    margin: 0 auto;
}


.portfolio__nav {
    text-align: left;
    margin:0;
}

@media screen and (min-width:$width-wide) {
    .portfolio__nav {
        margin: 0 0 0 15%;
    }
}

.portfolio__navLink {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

@media screen and (min-width:$width-medium) {
    .portfolio__navLink {
        display: block;
        width: 100%;
    }
}

.portfolio__navLink:hover {
    background: var(--color-lightgray);
}

.portfolio__navLink a {
    display: block;
    padding: 1em;
    /*background: var(--color-lightgray);*/
}

.portfolio__navLink a:hover {
    color: #fff;
}

.portfolio__category {
    background: var(--color-lightgray);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin:0;
    /*border: 0.5rem solid var(--color-white);*/
}

@media screen and (min-width:$width-medium) {
    .portfolio__category {
        margin-left: -15em;
        height: 30em;
        overflow-y: scroll;
        z-index: 10;
        width: calc(100% + 15em);
    }
}

#Portfolio-logos,
#Portfolio-websites,
#Portfolio-print {
    display: none;
}

#Portfolio-logos:target,
#Portfolio-websites:target,
#Portfolio-print:target {
    display: flex !important;
}

@media screen and (min-width:$width-medium) {
    .portfolio__category {
        border-radius: 30em 0 0 30em;
    }
}






/* .portfolio__categoryTitle,*/


/* .portfolio__categorySubtitle,*/


/* .portfolio__sample {*/


/*     width: 100%;*/


/* }*/

.portfolio__title {
    padding: 1rem;
}

.portfolio__sample {
    min-height: 10rem;
}

@media screen and (min-width:$width-medium) {
    .portfolio__sample {}

    .portfolio:hover .portfolio__sample {}
}