/***** COMPONENTS-ABOUT *****/

.portfolio__box {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}


// @media screen and (min-width:$width-medium) {
//     .portfolio__box {
//         -ms-grid-columns: 1fr 1fr;
//         grid-template-columns: 1fr 1fr;
//         -ms-grid-rows: auto;
//         grid-template-rows: auto;
//     }
// }

/*-- portfolio --*/

.portfolio__title {
    max-width: $width-wide;
    margin: 0 auto;
    padding: 1rem 0 1rem 1rem;
}

.portfolio__nav {
    text-align: left;
    margin: 0;
}

@media screen and (min-width:$width-wide) {
    .portfolio__nav {
        margin: 0 auto 0 15%;
    }
}

.portfolio__navLink {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

// @media screen and (min-width:$width-medium) {
//     .portfolio__navLink {
//         display: block; //width: 100%;
//         margin-right: -15rem;
//     }
// }
.portfolio__navLink:hover {
    background: var(--color-lightgray);
}

.portfolio__navLink a {
    display: block;
    padding: 1em;
    /*background: var(--color-lightgray);*/
}

.portfolio__category {
    background: var(--color-lightgray);
    width: 100%;
    margin: 0;
    /*border: 0.5rem solid var(--color-white);*/
}

@media screen and (min-width:$width-medium) {
    .portfolio__category {
        // margin-left: -15rem;
        // height: 30rem;
        overflow-y: scroll;
        z-index: 10;
        width: calc(100% + 15rem);
    }
}

.portfolio__categoryGroup {
    display: none;
    width: 100%;
}

.portfolio__categoryGroup:target {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: visible;
}

// @media screen and (min-width:$width-medium) {
//     .portfolio__category {
//         border-radius: 15rem 0 0 15rem;
//     }
// }
.portfolio__sampleGroup {
    display: flex;
    flex-direction: column;
    border-radius: 100%;
    border: 1rem solid var(--color-white);
    color: var(--color-white);
    background: var(--color-gray);
    margin: -1rem auto;
    padding: 0;
    box-shadow: 0 0 1.5rem var(--color-shadow);
    overflow: hidden;
}

.portfolio__sampleGroup:hover {
    background: var(--color-darkblue);
}

.portfolio__sampleGroup:hover::before {
    background: var(--color-shadow);
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
}


.portfolio__categoryTitle,
.portfolio__sampleTitle {
    width: 100%;
}

.portfolio__sampleImg {
    width: calc(100% - 1rem);
    padding: 0 0.5rem; //object-fit: cover;
    z-index: 1;
}

@media screen and (min-width:$width-medium) {
    .portfolio__sampleImg {
        min-height: 10rem;
        max-width: 60%;
    }
}