/***** COMPONENTS-HEADER *****/
.header{
    
}
.logo__icon{

}
.logo__title {
    padding: 0 1rem;
    width: calc(100% - 2rem);
}

.navigation__link {
    width: auto;
    padding: 1rem;
}

@media screen and (min-width:$width-medium) {
    .navigation__title {
        width: auto;
        margin: 1rem;
    }
}

.navigation__title {
    order: 0;
}

.navigation__link--contact {
    order: 1;
}

.navigation__link--resume {
    order: 3;
}

.navigation__link--portfolio {
    order: 2;
}

.sticky {
    position: fixed;
    background-color: var(--color-white);
    box-shadow: 0 0 1rem var(--color-shadow);
    z-index: 100;
    font-size: 85%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.sticky .navigation__title {
    font-size: 1.5em;
    margin: 0 0.5rem 0 0;
}