/***** COMPONENTS *****/

.navigation__title,
.navigation__link {
    padding: 0 1rem;
}

.navigation__title {
    width: calc(100% - 1rem);
}

.navigation__link {
    width: auto;
    padding: 0.5em;
}

@media screen and (min-width:$width-medium) {
    .navigation__title,
    .navigation__link {
        width: auto;
        padding: 1em;
    }
}



.navigation__link--about {
    order: 2
}

.navigation__link--resume {
    order: 3
}

.navigation__title {
    order: 1
}

@media screen and (min-width:$width-medium) {
    .navigation__link--about {
        order: 1
    }
    .navigation__link--resume {
        order: 3
    }
    .navigation__title {
        order: 2
    }
}





/*-- PROFILE --*/

.profile__box {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    width: 100%;
}

@media screen and (min-width:$width-medium) {
    .profile__box {
        margin: 0 auto;
        flex-direction: row;
    }
}

@media screen and (min-width:$width-wide) {
    .profile__box {
        width: var(--width-wide);
    }
}

.profile__photobox {
    position: relative;
    display: block; //overflow:;
    width: 60%;
    height: auto;
    margin: -0.35rem auto;
    -webkit-animation: 1s ease-in-out 10ms 1 profilerotate;
    animation: 1s ease-in-out 10ms 1 profilerotate;
}

.profile__photobox img {
    box-shadow: 0 0 3rem rgba(30,30,30,0.25);
}

@media screen and (min-width: $width-medium) {
    .profile__photobox {
        margin: -1rem -0.5rem -1rem -1rem;
        width: calc(100% + 2rem);
    }
}

@-webkit-keyframes profilerotate {
    from {
        -webkit-transform: rotate(7deg);
        transform: rotate(7deg);
        left: -3em;
        top: 0;
    }
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes profilerotate {
    from {
        -webkit-transform: rotate(7deg);
        transform: rotate(7deg);
    }
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        position: relative;
    }
}


.photobox__image {
    z-index: 3;
    position: relative;
    display: block;
    border-radius: 100%;
    width: calc(100% - 1.5rem);
    border: 0.75rem solid #fff;
}


.profile__skills {
    width: 100%;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

@media screen and (min-width:$width-medium) {
    .photobox__image {
        width: calc(100% - 2.2rem);
        border: 1.1rem solid #fff;
    }
    .profile__skills {
        width: 50%;
    }
}

.skillset {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    padding: 1em 1em 1em 1.5em;
}

.skillset__head {
    width: 100%;
}

.skillset__details {
    width: 0px;
    heigth: 0px;
    display: none;
}



.skillset:hover .skillset__details {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
}









/*-- ABOUT --*/


/*-- portfolio --*/

.portfolio__title {
    padding: 1rem;
}

.portfolio__sample {
    flex: 0 0 50%;
}

@media screen and (min-width:$width-medium) {
    .portfolio__sample {
        flex: 0 1 auto;

        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: rotateX(-85deg);
        transform: rotateX(-85deg);
    }

    .portfolio:hover .portfolio__sample {
        /* background-color: var(--color-lightgray);*/
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
    }
}









/*-- FOOTER --*/

.footer__contactinfo,
.footer__social {
    width: 100%;
}

@media screen and (min-width:$width-medium) {
    .footer__contactinfo,
    .footer__social {
        width: 50%;
    }
}

.contactinfo__list,
.social__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

@media screen and (min-width:$width-medium) {
    .contactinfo__list,
    .social__list {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.contactinfo__list li,
.social__list li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
}

.contactname,
.contactinfo__li .contactlink,
.social__li .sociallink {
    display: block;
    overflow: hidden;
    padding: 1rem;
    margin: 0;
}

.sociallink:hover {
    color: #fff;
}




/* .contactlink--phone:hover {*/


/*     border-radius: 0.5em;*/


/* }*/

.sociallink--twitter::before {
    background-color: #1DA1F2;
}

.sociallink--linkedin::before {
    background-color: #0077B5;
}

.sociallink--aboutme::before {
    background-color: #000;
}

.sociallink--github::before {
    background-color: #6F2D8B;
}

.sociallink--goodreads::before {
    background-color: #382110;
}

.contact__arrow {
    display: block;
    position: relative;
    width: 2rem;
    height: 2rem;
    left: -50vw;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

#contact:target .contact__arrow {
    left: -1rem;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.downarrow__path {
    width: 1rem;
    height: 1rem;
    fill: var(--color-darkblue);
}