/***** COMPONENTS-PROFILE *****/


/*-- PROFILE --*/

.profile__box {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    width: 100%;
    color: var(--color-white);
}

@media screen and (min-width: $width-medium) {
    .profile__box {
        margin: 0 auto;
        flex-direction: row;
        max-width: var(--width-wide);
    }
}

@media screen and (min-width: $width-wide) {
    .profile__box {
        width: var($width-wide);
    }
}

.profile__photobox {
    width: 60%;
    height: auto;
    margin: -0.35rem auto;
    -webkit-animation: 1s ease-in-out 10ms 1 profilerotate;
    animation: 1s ease-in-out 10ms 1 profilerotate;
}

.profile__photobox img {
    box-shadow: 0 0 1.5rem var(--color-shadow);
}

@media screen and (min-width: $width-medium) {
    .profile__photobox {
        margin: -1rem -0.5rem -1rem -1rem;
        width: calc(100% + 2rem);
    }
    .profile__photobox img {
        box-shadow: 0 0 3rem var(--color-shadow);
    }
}

@-webkit-keyframes profilerotate {
    from {
        -webkit-transform: rotate(7deg);
        transform: rotate(7deg);
        left: -3em;
        top: 0;
    }
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes profilerotate {
    from {
        -webkit-transform: rotate(11deg);
        transform: rotate(11deg);
    }
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        position: relative;
    }
}


.photobox__image {
    z-index: 3;
    position: relative;
    display: block;
    border-radius: 100%;
    width: calc(100% - 1.5rem);
    border: 0.75rem solid #fff;
}


.profile__skills {
    width: calc(100% - 3em);
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 0;
}

@media screen and (min-width:$width-medium) {
    .photobox__image {
        width: calc(100% - 2.2rem);
        border: 1.1rem solid #fff;
    }
    .profile__skills {
        width: 100%;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.skillset {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    padding: 1em;
    /*width: calc(100% - 2em);*/
}

@media screen and (min-width:$width-medium) {
    .skillset {
        padding: 1em 1em 1em 1.5em;
        /*width: calc(100% - 2.5em);*/
        -webkit-transform: skewX(-11deg);
        transform: skewX(-11deg);
    }
    .skillset * {
        -webkit-transform: rotate(-89deg) skewX(-11deg);
        transform: rotate(-89deg) skewX(-11deg);
        transition: ease-in-out 0.2s;
    }
    .skillset:hover *,
    .skillset:focus * {
        -webkit-transform: rotate(0deg) skewX(0deg);
        transform: rotate(0deg) skewX(0deg);
    }
    .skillset:hover {
        box-shadow: 0 0 1.5rem var(--color-shadow);
    }
}

.skillset--1 {
    background: var(--color-lightgreen);
}

.skillset--2 {
    background: var(--color-dragonfly);
}

.skillset--3 {
    background: var(--color-purple);
}

.skillset--4 {
    background: var(--color-redrose);
}

.skillset__head {
    width: 100%;
}

.skillset__details {
    padding: 0;
    list-style: inside;
}

@media screen and (min-width:$width-medium) {

    .skillset__details {
        width: 0px;
        heigth: 0px;
        display: none;
    }

    .skillset:hover .skillset__details {
        width: 100%;
        height: auto;
        display: block;
        overflow: hidden;
    }
}