@import "../scss/settings"; //variables, colors, sizes
/*@import "../scss/tools";*/
@import "../scss/generic"; //unclassed HTML elements 
@import "../scss/base"; //Page sections basic framework
@import "../scss/effects"; // custom effects
@import "../scss/components-header"; // header styles
@import "../scss/components-profile"; // profile block styles
@import "../scss/components-about"; // about section styles
@import "../scss/components-portfolio"; // portfolio section styles
@import "../scss/components-footer"; // footer section styles
@import "../scss/trumps"; // style overrides