/***** SETTINGS *****/
/*-- SASS break widths --*/
@import url("https://fonts.googleapis.com/css?family=Architects+Daughter|Titillium+Web:300");
@import url("https://fonts.googleapis.com/css?family=Architects+Daughter|Titillium+Web:300");
:root {
  /*-- fonts --*/
  --font-cursive: 'Architects Daughter', cursive;
  --font-sans: 'Titillium Web', sans-serif;
  /*-- colors --*/
  --color-darkblue: #002f5f;
  --color-purple: #2c014c;
  --color-lightgreen: #bef71f;
  --color-dragonfly: #2f8558;
  --color-redrose: #f44e5e;
  --color-lightgray: #ededed;
  --color-bluehighlight: #2C5E92;
  --color-brightblue: #004892;
  --color-gray: #868686;
  --color-black: #1d1d1d;
  --color-white: #ffffff;
  --color-shadow: rgba(30, 30, 30, 0.5);
  /*-- break-widths --*/
  --width-wide: 64em;
  --width-medium: 40em;
  --width-small: 20em;
}

/*@import "../scss/tools";*/
/***** GENERIC *****/
/*-- PAGE SETUP --*/
html {
  font-family: var(--font-sans);
  color: var(--color-darkblue);
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0 0 2rem 0;
}

header {
  width: 100%;
  background: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0 1 auto;
}

nav {
  display: flex;
  flex: 1 0 50%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  transition: all 0.5s ease-in-out;
}

main {
  width: 100%;
}

section {
  width: 100%;
}

footer {
  margin: 2em 1em;
  width: calc(100% - 2em);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 40em) {
  nav {
    flex-direction: row;
    flex: 1 0 auto;
    align-items: baseline;
  }
  footer {
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem auto;
    max-width: var(--width-wide);
  }
}

/*-- HEADINGS --*/
h1 {
  font-size: 3em;
  line-height: 1em;
}

h2 {
  font-size: 1.75em;
  line-height: 1em;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.25em;
}

h1,
h2,
h3 {
  display: block;
}

/*-- TEXT --*/
p,
li {
  line-height: 1.75em;
}

p {
  max-width: 60rem;
}

main p {
  display: block;
  padding: 1rem;
}

@media screen and (min-width: 40em) {
  main p {
    margin: 0 auto 1rem;
  }
}

/*-- LINKS --*/
a {
  transition: ease-in-out 0.2s !important;
}

a,
a:link {
  color: var(--color-darkblue);
}

a:visited {
  color: var(--color-purple);
}

a:active {
  color: var(--color-redrose);
}

a:hover,
a:focus {
  background: var(--color-darkblue);
  color: var(--color-white);
}

/***** BASE *****/
/* -- Page SECTIONS --*/
.title {
  color: var(--color-darkblue);
  font-family: var(--font-cursive);
}

.profile {
  background: var(--color-darkblue);
  box-shadow: 0 0 1.5rem var(--color-shadow);
  width: 100%;
  color: var(--color-white);
}

@media screen and (min-width: 40em) {
  .profile {
    box-shadow: 0 0 3rem var(--color-shadow);
  }
}

.about {
  padding-top: 2rem;
  text-align: center;
}

.portfolio {
  padding-top: 2rem;
  text-align: center;
}

/***** Effects SETTINGS *****/
.skillset {
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-property: color;
  transition-duration: 0.5s;
}

.skillset::before {
  content: "";
  position: absolute;
  z-index: -3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-darkblue);
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

/*--  Horizontal animation --*/
.skillset::before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
}

/*--  Vertical animation --*/
.skillset::before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

.skillset:hover::before,
.skillset:focus::before {
  z-index: -2;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.skillset:hover *,
a:hover,
a:focus {
  color: #fff;
}

/***** COMPONENTS-HEADER *****/
.logo__title {
  padding: 0 1rem;
  width: calc(100% - 2rem);
}

.navigation__link {
  width: auto;
  padding: 1rem;
}

@media screen and (min-width: 40em) {
  .navigation__title {
    width: auto;
    margin: 1rem;
  }
}

.navigation__title {
  order: 0;
}

.navigation__link--contact {
  order: 1;
}

.navigation__link--resume {
  order: 3;
}

.navigation__link--portfolio {
  order: 2;
}

.sticky {
  position: fixed;
  background-color: var(--color-white);
  box-shadow: 0 0 1rem var(--color-shadow);
  z-index: 100;
  font-size: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.sticky .navigation__title {
  font-size: 1.5em;
  margin: 0 0.5rem 0 0;
}

/***** COMPONENTS-PROFILE *****/
/*-- PROFILE --*/
.profile__box {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  width: 100%;
  color: var(--color-white);
}

@media screen and (min-width: 40em) {
  .profile__box {
    margin: 0 auto;
    flex-direction: row;
    max-width: var(--width-wide);
  }
}

@media screen and (min-width: 64em) {
  .profile__box {
    width: var(64em);
  }
}

.profile__photobox {
  width: 60%;
  height: auto;
  margin: -0.35rem auto;
  -webkit-animation: 1s ease-in-out 10ms 1 profilerotate;
  animation: 1s ease-in-out 10ms 1 profilerotate;
}

.profile__photobox img {
  box-shadow: 0 0 1.5rem var(--color-shadow);
}

@media screen and (min-width: 40em) {
  .profile__photobox {
    margin: -1rem -0.5rem -1rem -1rem;
    width: calc(100% + 2rem);
  }
  .profile__photobox img {
    box-shadow: 0 0 3rem var(--color-shadow);
  }
}

@-webkit-keyframes profilerotate {
  from {
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
    left: -3em;
    top: 0;
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes profilerotate {
  from {
    -webkit-transform: rotate(11deg);
    transform: rotate(11deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    position: relative;
  }
}

.photobox__image {
  z-index: 3;
  position: relative;
  display: block;
  border-radius: 100%;
  width: calc(100% - 1.5rem);
  border: 0.75rem solid #fff;
}

.profile__skills {
  width: calc(100% - 3em);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 0;
}

@media screen and (min-width: 40em) {
  .photobox__image {
    width: calc(100% - 2.2rem);
    border: 1.1rem solid #fff;
  }
  .profile__skills {
    width: 100%;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.skillset {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding: 1em;
  /*width: calc(100% - 2em);*/
}

@media screen and (min-width: 40em) {
  .skillset {
    padding: 1em 1em 1em 1.5em;
    /*width: calc(100% - 2.5em);*/
    -webkit-transform: skewX(-11deg);
    transform: skewX(-11deg);
  }
  .skillset * {
    -webkit-transform: rotate(-89deg) skewX(-11deg);
    transform: rotate(-89deg) skewX(-11deg);
    transition: ease-in-out 0.2s;
  }
  .skillset:hover *,
  .skillset:focus * {
    -webkit-transform: rotate(0deg) skewX(0deg);
    transform: rotate(0deg) skewX(0deg);
  }
  .skillset:hover {
    box-shadow: 0 0 1.5rem var(--color-shadow);
  }
}

.skillset--1 {
  background: var(--color-lightgreen);
}

.skillset--2 {
  background: var(--color-dragonfly);
}

.skillset--3 {
  background: var(--color-purple);
}

.skillset--4 {
  background: var(--color-redrose);
}

.skillset__head {
  width: 100%;
}

.skillset__details {
  padding: 0;
  list-style: inside;
}

@media screen and (min-width: 40em) {
  .skillset__details {
    width: 0px;
    heigth: 0px;
    display: none;
  }
  .skillset:hover .skillset__details {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
  }
}

/***** COMPONENTS-ABOUT *****/
/*-- ABOUT --*/
.description {
  margin: 0 auto 2rem;
}

/***** COMPONENTS-ABOUT *****/
.portfolio__box {
  padding: 0;
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

/*-- portfolio --*/
.portfolio__title {
  max-width: 64em;
  margin: 0 auto;
  padding: 1rem 0 1rem 1rem;
}

.portfolio__nav {
  text-align: left;
  margin: 0;
}

@media screen and (min-width: 64em) {
  .portfolio__nav {
    margin: 0 auto 0 15%;
  }
}

.portfolio__navLink {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.portfolio__navLink:hover {
  background: var(--color-lightgray);
}

.portfolio__navLink a {
  display: block;
  padding: 1em;
  /*background: var(--color-lightgray);*/
}

.portfolio__category {
  background: var(--color-lightgray);
  width: 100%;
  margin: 0;
  /*border: 0.5rem solid var(--color-white);*/
}

@media screen and (min-width: 40em) {
  .portfolio__category {
    overflow-y: scroll;
    z-index: 10;
    width: 100%;
  }
}

.portfolio__sampleGroup {
  display: none;
  width: 100%;
}

.portfolio__sampleGroup:target {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: visible;
}

.portfolio__sampleGroup:hover::before {
  background: var(--color-shadow);
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.portfolio__categoryTitle,
.portfolio__categorySubtitle {
  width: 100%;
  grid-column: 1/4;
}

.portfolio__sampleImg {
  width: calc(100% - 1rem);
  padding: 0 0.5rem;
  z-index: 1;
}

@media screen and (min-width: 40em) {
  .portfolio__sampleImg {
    min-height: 10rem;
    max-width: 60%;
  }
}

/***** COMPONENTS-FOOTER *****/
/*-- FOOTER --*/
.footer__contactinfo,
.footer__social {
  width: 100%;
}

@media screen and (min-width: 40em) {
  .footer__contactinfo,
  .footer__social {
    width: 50%;
  }
}

.contactinfo__list,
.social__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 40em) {
  .contactinfo__list,
  .social__list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.contactinfo__list li,
.social__list li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
}

.contactname,
.contactinfo__li .contactlink,
.social__li .sociallink {
  display: block;
  overflow: hidden;
  padding: 1rem;
  margin: 0;
}

.sociallink:hover {
  color: #fff;
}

/* .contactlink--phone:hover {*/
/*     border-radius: 0.5em;*/
/* }*/
.sociallink--twitter:hover {
  background-color: #1DA1F2;
}

.sociallink--linkedin:hover {
  background-color: #0077B5;
}

.sociallink--aboutme:hover {
  background-color: #000;
}

.sociallink--github:hover {
  background-color: #6F2D8B;
}

.sociallink--goodreads:hover {
  background-color: #382110;
}

.contact__arrow {
  display: block;
  position: relative;
  width: 2rem;
  height: 2rem;
  left: -50vw;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

#contact:target .contact__arrow {
  left: -1rem;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.downarrow__path {
  width: 1rem;
  height: 1rem;
  fill: var(--color-darkblue);
}

/***** TRUMPS *****/
.full {
  width: 100%;
}

.half {
  width: 50%;
}

@media screen and (min-width: 40em) {
  .half {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */