/***** TRUMPS *****/

.full {
    width: 100%;
}

.half {
    width: 50%;
}

@media screen and (min-width:$width-medium) {
    .half {
        width: 100%;
    }
}


@import url("https://fonts.googleapis.com/css?family=Architects+Daughter|Titillium+Web:300");