/*
 Theme Name:   Esther Humphries - Lens Child
 Theme URI:    http://jasonhumphries.info/estherhumphries/
 Description:  Lens Child Theme
 Author:       Jason Humphries
 Author URI:   http://jasonhumphries.info
 Template:     lens
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  lens-child
*/
body.custom-background{
    background-size: 100% auto;
}
#top-bar, .lens .out-thumb{
    background:#262626 !important;
    color:#fff;
}
#page .lens .out-thumb a{
    font-family: 'Libre Baskerville', serif !important;
    color:#fff !important;
}
#top-menu ul li a, .lens .out-thumb{
    color:#eee !important;
}
#top-menu ul li a:hover{
    color:#fff !important;
}
#page,#page h1, #primary-mono h1.entry-title, #secondary h1.widget-title,#respond h3#reply-title{
    font-family: 'Great Vibes', cursive !important;
    text-transform: initial !important;
    font-size: 1.5em !important;
    color:#262626 !important;
}

#page,#masthead h2.site-description,#primary-mono .entry-meta, #primary-mono {
    font-family: 'Libre Baskerville', serif !important;
}
#masthead h2.site-description{
    font-size:1.5em !important;
}
#showcase .showcase figure,#top-menu ul li:hover a,.section-title::after,#respond .comment-form-author label, #respond .comment-form-email label, #respond .comment-form-url label, #respond .comment-form-comment label {
    background:#64232E !important;
}
#showcase figure:hover .showcase-caption, .lens .out-thumb:hover{
    background:#7A2C39 !important;
    color:#fff !important;
}
.section-title,#masthead h1.site-title a{
    font-family: 'Great Vibes', cursive !important;
    text-transform: initial !important;
    font-size: 1.5em !important;

    color:#fff !important;
}
#masthead h1.site-title a{
    font-size:2.5em !important;
}
#secondary h1.widget-title,#respond .comment-form-author label, #respond .comment-form-email label, #respond .comment-form-url label, #respond .comment-form-comment label{
    border-bottom-color:#64232E !important;
}
#secondary .widget_search input[type="search"]{
    outline-color:#64232E !important;
}
#page a,#secondary .widget_recent_entries ul li::before, #secondary .widget_recent_comments ul li::before, #secondary .widget_categories ul li::before, #secondary .widget_pages ul li::before, #secondary .widget_archive ul li::before, #secondary .widget_meta ul li::before, #secondary .widget_nav_menu ul li::before, #respond .form-submit input[type="submit"] {
    color:#64232E !important;
}
#page a:hover{
    color:#7A2C39;
}
footer a:hover{
    color:#fff !important;
}
#respond .comment-form-author label, #respond .comment-form-email label, #respond .comment-form-url label, #respond .comment-form-comment label{
    font-size: .85em !important;
}
#respond .form-submit input[type="submit"]{
    background:#64232E !important;
    color:#fff !important;
    font-size:.85em !important;
    padding:1em !important;
    margin-bottom: 1em !important;
}
#respond .form-submit input:hover[type="submit"]{
    background-color:#fff !important;
    color:#262626 !important;
}
